@import url("https://fonts.googleapis.com/css?family=Handlee|Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Create Variables */
:root {
  --blue-color: #0d3bef;
}
html {
  scroll-behavior: smooth;
}

/* Nav Bar */

.navImage {
  width: 122px;
  border-radius: 30%;
  cursor: pointer;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinXcontainer {
  margin-left: 1rem;
}
#spinX {
  color: #fff;
  /* width: 2rem; */
  font-size: 1.5rem;
}
#spinX:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--blue-color);
  color: rgb(20, 19, 19);
  padding: 1rem;
  /* debx img will go on top if you don't have this z index */
  z-index: 3;
  box-shadow: 2px 2px 2px 0px;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
#navbar ul li a {
  color: rgb(142, 169, 248);
  padding: 0.1rem;
  margin: 0.1rem;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
}
#navbar ul li {
  padding: 1rem;
}
#navbar ul li:hover a {
  color: #fff;
  border-bottom: 4px solid white;
}

/* Body */
body {
  background: #fff;
}
h1,
h2 {
  font-family: "Anton", sans-serif;
  text-align: center;
}
a {
  color: var(--blue-color);
}
a:hover {
  color: var(--primary-pink);
}
hr {
  border-style: solid;
  border-color: #55889d;
}

@media screen and (max-width: 788px) {
  .spinXcontainer {
    margin-left: 0;
  }
  #spinX {
    font-size: 0.9rem;
  }
  #navbar {
    flex-direction: column;
    padding: 5px;
  }
  #navbar ul {
    flex-direction: column;
  }
  #navbar ul li {
    padding: 0px;
    margin: 0px;
  }
  #navbar ul li a {
    font-size: 0.6rem;
  }
  .navImage {
    width: 60px;
  }
  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* Showcase */
#showcase {
  background: #fff;
  color: var(--primary-blue);
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.l-heading {
  margin-top: 2rem;
  font-size: 4rem;
}
.myName {
  font-size: 1.3rem;
  margin: 1rem;
  text-align: center;
  color: var(--primary-blue);
}

#certificate {
  width: 50%;
  margin: 0 auto;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  align-items: center;
}
.emailDiv h1 {
  margin-top: 44px;
  color: red;
}

.quoteDiv {
  font-family: "Handlee", cursive;
  font-size: 2rem;
  color: white;
  padding: 16px;
  margin: 40px auto;
  width: 600px;
  background-color: var(--blue-color);
  border-radius: 30px;
  box-shadow: 12px 10px 20px 0px rgb(10 10 10);
}
hr {
  box-shadow: 6px 4px 8px 3px rgb(10 10 10);
}
.qouteBox {
  display: flex;
}

#bookMarkWrapper {
  display: none;
}
#bookMarksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
}
#bookMarksContainer div {
  background: var(--blue-color);
  border-left: 4mm ridge #2149d8;
  border-bottom: thick double #2a74dd;
  margin: 20px 7px 20px 7px;
  padding: 5px 10px 5px 10px;
  border-radius: 10% / 50%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  transition: color 0.6s, box-shadow 0.7s, transform 0.7s;
  transition-timing-function: cubic-bezier(0.45, 1.87, 0.62, 1.6);
}
#bookMarksContainer div:hover {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
#bookMarksContainer div a {
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  margin: 8px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

#footer {
  display: flex;
  justify-content: center;
  height: 180px;
  color: #fff;
  text-align: center;
}
.clown {
  width: 75px;
  cursor: pointer;
}
.quoteWrapper {
  display: none;
}

/* responsive  nav */
@media screen and (max-width: 933px) {
  #navbar {
    position: static;
  }
  #certificate {
    width: 97%;
  }
}
@media screen and (max-width: 555px) {
  #navbar ul {
    flex-direction: column;
    text-align: center;
    /* font-size: 0.6rem; */
  }
  nav h1 {
    font-size: 2rem;
  }
}
/* responsive  heading */
@media screen and (max-width: 917px) {
  .l-heading {
    font-size: 2rem;
  }
}
/* responsive Who */
@media screen and (max-width: 923px) {
  #who {
    flex-direction: column;
  }
}
/* responsive debxImage */
@media screen and (max-width: 1100px) {
  #debxImage {
    width: 120px;
    border-radius: 30%;
  }
  #certificate {
    width: 80%;
  }
}
/* responsive  blockquote */
@media screen and (max-width: 1346px) {
  .qouteBox {
    flex-direction: column;
  }
  .quoteDiv {
    width: 94%;
  }
}
@media screen and (max-width: 632px) {
  .qouteBox {
    flex-direction: column;
  }
  .quoteDiv {
    padding: 16px;
    margin: 40px auto;
    border-radius: 30px;
  }
}
@media screen and (max-width: 496px) {
  .qouteBox {
    flex-direction: column;
  }
  .quoteDiv {
    padding: 16px;
    margin: 40px auto;
    border-radius: 30px;
  }
  #certificate {
    width: 97%;
  }
}
@media screen and (max-width: 1000px) {
  .emailDiv h1 {
    font-size: 1.25rem;
  }
}
