@import url("https://fonts.googleapis.com/css?family=Handlee|Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Create Variables */
:root {
  --primary-green: rgb(10, 243, 10);
  --primary-blue: #00f;
  --primary-purple: rgba(78, 26, 175);
}
html {
  scroll-behavior: smooth;
}

/* Nav Bar */

#D {
  color: red;
}
#E {
  color: var(--primary-green);
}
#B {
  color: var(--primary-blue);
}
#navbar h1 span {
  display: inline;
}
#spinX:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  background-color: #333;
  color: white;
  padding: 1rem;
  /* debx img will go on top if you don't have this z index */
  z-index: 3;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.8rem;
  font-size: 2rem;
}
#navbar ul li a:hover {
  color: var(--primary-green);
}
/* Body */
body {
  background: #333;
}
h1,
h2 {
  font-family: "Anton", sans-serif;
  text-align: center;
}
hr {
  border-style: solid;
  border-color: #55889d;
}
/* Showcase */
#showcase {
  background: #333;
  color: white;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.l-heading {
  font-size: 4rem;
}
.myName {
  font-size: 1.3rem;
  margin: 1rem;
  text-align: center;
  color: #07f1f8;
}
#debxImage {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 30%;
}

#certificate {
  width: 50%;
  margin: 0 auto;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  align-items: center;
}
.emailDiv h1 {
  margin-top: 44px;
  color: red;
}

.quoteDiv {
  font-family: "Handlee", cursive;
  font-size: 2rem;
  color: white;
  padding: 16px;
  margin: 40px auto;
  width: 600px;
  background-color: var(--primary-purple);
  border-radius: 30px;
  box-shadow: 5px 4px 20px 16px rgb(10 10 10);
}
hr {
  box-shadow: 6px 4px 8px 3px rgb(10 10 10);
}
.qouteBox {
  display: flex;
}

#bookMarkWrapper {
  display: none;
}
#bookMarksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #333;
}
#bookMarksContainer div {
  background: var(--primary-green);
  border-left: 4mm ridge #538956;
  border-bottom: thick double #203c63;
  margin: 20px 7px 20px 7px;
  padding: 5px 10px 5px 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10% / 50%;
}
#bookMarksContainer div a {
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  color: #212529;
  margin: 8px;
}

#footer {
  display: flex;
  justify-content: center;
  height: 180px;
  color: #fff;
  text-align: center;
}
.clown {
  width: 75px;
}
.quoteWrapper {
  display: none;
}

/* responsive  nav */
@media screen and (max-width: 933px) {
  #navbar ul {
    flex-direction: column;
    text-align: center;
  }
  #navbar {
    position: static;
  }
  #certificate {
    width: 97%;
  }
}
@media screen and (max-width: 555px) {
  #navbar ul {
    flex-direction: column;
    text-align: center;
    font-size: 0.6rem;
  }
  #home ul li a {
    font-size: 1rem;
    color: red;
  }
  nav h1 {
    font-size: 2rem;
  }
}
/* responsive  heading */
@media screen and (max-width: 917px) {
  .l-heading {
    font-size: 2rem;
  }
}
/* responsive Who */
@media screen and (max-width: 923px) {
  #who {
    flex-direction: column;
  }
}
/* responsive debxImage */
@media screen and (max-width: 1100px) {
  #debxImage {
    width: 120px;
    border-radius: 30%;
  }
  #certificate {
    width: 80%;
  }
}
/* responsive  blockquote */
@media screen and (max-width: 1346px) {
  .qouteBox {
    flex-direction: column;
  }
  .quoteDiv {
    width: 94%;
  }
}
@media screen and (max-width: 632px) {
  .qouteBox {
    flex-direction: column;
  }
  .quoteDiv {
    padding: 16px;
    margin: 40px auto;
    background-color: var(--primary-purple);
    border-radius: 30px;
  }
}
@media screen and (max-width: 496px) {
  .qouteBox {
    flex-direction: column;
  }
  .quoteDiv {
    padding: 16px;
    margin: 40px auto;
    background-color: var(--primary-purple);
    border-radius: 30px;
  }
  #certificate {
    width: 97%;
  }
}
@media screen and (max-width: 1000px) {
  .emailDiv h1 {
    color: green;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 500px) {
  #navbar {
    flex-direction: column;
  }
  nav h1 {
    font-size: 3rem;
  }
  #home ul li a {
    font-size: 1.5rem;
    color: red;
    margin-top: 20px;
  }
}
